In [7]:
# 파일을 불러오고 내용을 읽어보겠습니다.
log_file_path = 'log.txt'

with open(log_file_path, 'r', encoding='utf-8') as file:
    log_content = file.readlines()

log_content[:5]  # 처음 몇 줄을 출력하여 내용을 확인합니다.

['2월-01 16:38:37\tSQL / User\tUPDATE public.ma_usage\n',
 '\tSET "usage"=49703\n',
 '\tWHERE "no"=33820\t12\t1\tSuccess\tvpe 운영\tSQLEditor <Script-18.sql>\n',
 '2월-01 16:38:37\tSQL / User\tUPDATE public.ma_usage\n',
 '\tSET "usage"=1645\n']

In [9]:
import re
from datetime import datetime

# 로그 데이터를 파싱하고 시간과 쿼리문을 추출하는 함수
def parse_log(log_lines):
    parsed_logs = []
    for line in log_lines:
        # 각 줄에서 시간과 쿼리문을 추출
        match = re.search(r'(\d+월-\d+ \d+:\d+:\d+).*\t(SQL / User\t)(.*)', line)
        if match:
            # 시간 형식을 datetime 객체로 변환
            log_time = datetime.strptime(match.group(1) + " 2024", "%m월-%d %H:%M:%S %Y")
            query = match.group(3)
            parsed_logs.append((log_time, query))

    return parsed_logs

# 로그 데이터 파싱
parsed_logs = parse_log(log_content)

# 시간 순으로 정렬
sorted_logs = sorted(parsed_logs, key=lambda x: x[0])

sorted_logs # 정렬된 로그의 처음 몇 개를 출력하여 확인합니다.

[(datetime.datetime(2024, 2, 1, 11, 42, 47),
  'select * from ma_usage where mbr_no = 2701556\t226\t4\tSuccess\tvpe 운영\tSQLEditor <Script-18.sql>'),
 (datetime.datetime(2024, 2, 1, 11, 44),
  'select * from ma_row_datas where mbr_no = 2701556 order by log_date desc\t308\t200\tSuccess\tvpe 운영\tSQLEditor <Script-18.sql>'),
 (datetime.datetime(2024, 2, 1, 11, 44, 9),
  'select * from ma_row_datas where mbr_no = 2701556 order by log_date desc\t164\t400\tSuccess\tvpe 운영\tSQLEditor <Script-18.sql>'),
 (datetime.datetime(2024, 2, 1, 11, 44, 12),
  'select * from ma_row_datas where mbr_no = 2701556 order by log_date desc\t147\t600\tSuccess\tvpe 운영\tSQLEditor <Script-18.sql>'),
 (datetime.datetime(2024, 2, 1, 11, 44, 49),
  "select * from ma_row_datas where mbr_no = 2701556 and log_date = '2024-01-31' order by log_date desc\t72\t\tSuccess\tvpe 운영\tSQLEditor <Script-18.sql>"),
 (datetime.datetime(2024, 2, 1, 11, 45, 15),
  "select * from ma_row_datas where mbr_no = 2701556 and log_date between '2024-01-31 00:00:00' and '2024-01-31 23:59:59.999' order by log_date desc\t183\t200\tSuccess\tvpe 운영\tSQLEditor <Script-18.sql>"),
 (datetime.datetime(2024, 2, 1, 11, 45, 48),
  "select * from ma_row_datas where mbr_no = 2701556 and log_date between '2024-01-31 00:00:00' and '2024-02-01 00:00:01' order by log_date desc\t183\t200\tSuccess\tvpe 운영\tSQLEditor <Script-18.sql>"),
 (datetime.datetime(2024, 2, 1, 11, 46, 24),
  "select * from ma_row_datas where mbr_no = 2701556 and log_date between '2024-01-31 00:00:00' and '2024-02-01 00:01' order by log_date desc\t607\t200\tSuccess\tvpe 운영\tSQLEditor <Script-18.sql>"),
 (datetime.datetime(2024, 2, 1, 11, 47, 9),
  'select count(*) from ma_row_datas where mbr_no = 2701556 and log_date between \'2024-01-31 00:00:00\' and \'2023-01-31 23:59:59.999\' order by log_date desc\t12\t\tERROR: column "ma_row_datas.log_date" must appear in the GROUP BY clause or be used in an aggregate function'),
 (datetime.datetime(2024, 2, 1, 11, 47, 14),
  "select count(*) from ma_row_datas where mbr_no = 2701556 and log_date between '2024-01-31 00:00:00' and '2023-01-31 23:59:59.999'\t97\t1\tSuccess\tvpe 운영\tSQLEditor <Script-18.sql>"),
 (datetime.datetime(2024, 2, 1, 11, 47, 22),
  "select count(*) from ma_row_datas where mbr_no = 2701556 and log_date between '2024-01-31 00:00:00' and '2024-01-31 23:59:59.999'\t82\t1\tSuccess\tvpe 운영\tSQLEditor <Script-18.sql>"),
 (datetime.datetime(2024, 2, 1, 11, 47, 24),
  'select * from ma_usage where mbr_no = 2701556\t72\t4\tSuccess\tvpe 운영\tSQLEditor <Script-18.sql>'),
 (datetime.datetime(2024, 2, 1, 11, 47, 55),
  "select * from ma_row_datas where mbr_no = 2701556 and log_date between '2024-01-31 00:00:00' and '2023-01-31 23:59:59.999' order by log_date desc\t77\t\tSuccess\tvpe 운영\tSQLEditor <Script-18.sql>"),
 (datetime.datetime(2024, 2, 1, 11, 47, 58),
  "select * from ma_row_datas where mbr_no = 2701556 and log_date between '2024-01-31 00:00:00' and '2024-01-31 23:59:59.999' order by log_date desc\t179\t200\tSuccess\tvpe 운영\tSQLEditor <Script-18.sql>"),
 (datetime.datetime(2024, 2, 1, 11, 48),
  "select * from ma_row_datas where mbr_no = 2701556 and log_date between '2024-01-31 00:00:00' and '2024-01-31 23:59:59.999' order by log_date desc\t97\t400\tSuccess\tvpe 운영\tSQLEditor <Script-18.sql>"),
 (datetime.datetime(2024, 2, 1, 11, 48, 18),
  'select * from ma_usage where mbr_no = 2701556\t68\t4\tSuccess\tvpe 운영\tSQLEditor <Script-18.sql>'),
 (datetime.datetime(2024, 2, 1, 11, 48, 32),
  "select count(*) from ma_row_datas where mbr_no = 2701556 and log_date between '2024-01-31 00:00:00' and '2024-01-31 23:59:59.999' and player_name = 'signalclass2'\t124\t1\tSuccess\tvpe 운영\tSQLEditor <Script-18.sql>"),
 (datetime.datetime(2024, 2, 1, 11, 48, 34),
  'select * from ma_usage where mbr_no = 2701556\t69\t4\tSuccess\tvpe 운영\tSQLEditor <Script-18.sql>'),
 (datetime.datetime(2024, 2, 1, 13, 3, 15),
  "SELECT * FROM ma_data_1d where mbr_no = 2701556 and log_date_1d = '2024-01-31'\t293\t200\tSuccess\tvpe 운영\tSQLEditor <Script-18.sql>"),
 (datetime.datetime(2024, 2, 1, 13, 3, 43),
  "select count(*) from ma_row_datas where mbr_no = 2701556 and log_date between '2024-01-31 00:00:00' and '2024-01-31 23:59:59.99' and player_name = 'signalclass2'\t155\t1\tSuccess\tvpe 운영\tSQLEditor <Script-18.sql>"),
 (datetime.datetime(2024, 2, 1, 13, 3, 47),
  'select * from ma_usage where mbr_no = 2701556\t162\t4\tSuccess\tvpe 운영\tSQLEditor <Script-18.sql>'),
 (datetime.datetime(2024, 2, 1, 13, 6, 14),
  'SELECT x.* FROM public.ma_sync_check x\t175\t200\tSuccess\tvpe 운영\tMain <vpe_player>'),
 (datetime.datetime(2024, 2, 1, 13, 7, 4),
  'SELECT x.* FROM public.ma_contents x\t196\t200\tSuccess\tvpe 운영\tMain <vpe_player>'),
 (datetime.datetime(2024, 2, 1, 13, 10, 29),
  'SELECT x.* FROM public.ma_row_datas x\t19\t\tERROR: permission denied for view ma_row_datas\tvpe 운영 로그\tMain <vpe_player_log>'),
 (datetime.datetime(2024, 2, 1, 13, 11, 44),
  'SELECT x.* FROM public.ma_row_datas x\t171\t200\tSuccess\tvpe 운영 로그\tMain <vpe_player_log>'),
 (datetime.datetime(2024, 2, 1, 13, 11, 59),
  'SELECT x.* FROM public.player_log_tbl x\t349\t200\tSuccess\tvpe 운영 로그\tMain <vpe_player_log>'),
 (datetime.datetime(2024, 2, 1, 13, 12, 13),
  'SELECT x.* FROM public.player_log_tbl x\t145\t400\tSuccess\tvpe 운영 로그\tMain <vpe_player_log>'),
 (datetime.datetime(2024, 2, 1, 13, 13, 29),
  'SELECT x.* FROM public.player_log_tbl x\t390\t1400\tSuccess\tvpe 운영 로그\tMain <vpe_player_log>'),
 (datetime.datetime(2024, 2, 1, 13, 13, 44),
  'SELECT x.* FROM public.ma_row_datas x\t244\t1200\tSuccess\tvpe 운영 로그\tMain <vpe_player_log>'),
 (datetime.datetime(2024, 2, 1, 13, 18, 35),
  'select count(*) from ma_row_datas where player_no = 5601 and log_date_1d = \'2024-01-31\'\t11\t\tERROR: column "log_date_1d" does not exist'),
 (datetime.datetime(2024, 2, 1, 13, 19, 36),
  "select count(*) from ma_row_datas where player_no = 5601 and log_date between '2024-01-31 00:00:00.000' and '2024-01-31 23:59:59.999'\t5,114\t1\tSuccess\tvpe 운영 로그\tSQLEditor <Script-12.sql>"),
 (datetime.datetime(2024, 2, 1, 13, 20, 20),
  "select count(*) from ma_row_datas where player_no = 5601 and log_date between '2024-01-31 00:00:00.000' and '2024-01-31 23:59:59.999'\t91\t1\tSuccess\tvpe 운영\tSQLEditor <Script-18.sql>"),
 (datetime.datetime(2024, 2, 1, 13, 22, 22),
  'select * from ma_usage where mbr_no = 2701556\t68\t4\tSuccess\tvpe 운영\tSQLEditor <Script-18.sql>'),
 (datetime.datetime(2024, 2, 1, 13, 23, 33),
  "select * from ma_row_datas where player_no = 5601 and log_date between '2024-01-31 00:00:00.000' and '2024-01-31 23:59:59.999' and collection = 'R'\t2,793\t1000\tSuccess\tvpe 운영 로그\tSQLEditor <Script-12.sql>"),
 (datetime.datetime(2024, 2, 1, 13, 23, 41),
  "select * from ma_row_datas where player_no = 5601 and log_date between '2024-01-31 00:00:00.000' and '2024-01-31 23:59:59.999' and collection = 'R'\t2,497\t1065\tSuccess\tvpe 운영 로그\tSQLEditor <Script-12.sql>"),
 (datetime.datetime(2024, 2, 1, 13, 29, 15),
  "select COUNT(*) from ma_row_datas where player_no = 5601 and log_date between '2024-01-31 00:00:00.000' and '2024-01-31 23:59:59.999' and collection != 'R'\t2,953\t1\tSuccess\tvpe 운영 로그\tSQLEditor <Script-12.sql>"),
 (datetime.datetime(2024, 2, 1, 13, 29, 25),
  "select count(*) from ma_row_datas where player_no = 5601 and log_date between '2024-01-31 00:00:00.000' and '2024-01-31 23:59:59.999'\t88\t1\tSuccess\tvpe 운영\tSQLEditor <Script-18.sql>"),
 (datetime.datetime(2024, 2, 1, 13, 30, 33),
  "select COUNT(*) from ma_row_datas where player_no = 5601 and log_date between '2024-01-31 00:00:00.000' and '2024-01-31 23:59:59.999'\t2,913\t1\tSuccess\tvpe 운영 로그\tSQLEditor <Script-12.sql>"),
 (datetime.datetime(2024, 2, 1, 13, 33, 4),
  'SELECT x.* FROM public.ma_row_datas x\t423\t200\tSuccess\tvpe 운영\tMain <vpe_player>'),
 (datetime.datetime(2024, 2, 1, 13, 34, 54),
  'SELECT x.* FROM public.ma_row_datas x\t113\t400\tSuccess\tvpe 운영\tMain <vpe_player>'),
 (datetime.datetime(2024, 2, 1, 13, 34, 56),
  'SELECT x.* FROM public.ma_row_datas x\t186\t800\tSuccess\tvpe 운영\tMain <vpe_player>'),
 (datetime.datetime(2024, 2, 1, 13, 34, 56),
  'SELECT x.* FROM public.ma_row_datas x\t181\t600\tSuccess\tvpe 운영\tMain <vpe_player>'),
 (datetime.datetime(2024, 2, 1, 13, 35, 48),
  'select * from ma_usage where mbr_no = 2701556\t71\t4\tSuccess\tvpe 운영\tSQLEditor <Script-18.sql>'),
 (datetime.datetime(2024, 2, 1, 13, 35, 57),
  'select * from ma_usage\t91\t191\tSuccess\tvpe 운영\tSQLEditor <Script-18.sql>'),
 (datetime.datetime(2024, 2, 1, 13, 37, 12),
  'select * from ma_usage where mbr_no = 2701556\t75\t4\tSuccess\tvpe 운영\tSQLEditor <Script-18.sql>'),
 (datetime.datetime(2024, 2, 1, 13, 49, 8),
  'select * from ma_row_datas where player_no = 5601 and log_date order by no desc limit 10000\t10\t\tERROR: argument of AND must be type boolean, not type timestamp with time zone'),
 (datetime.datetime(2024, 2, 1, 13, 49, 15),
  'select * from ma_row_datas where player_no = 5601 order by no desc limit 10000\t755\t200\tSuccess\tvpe 운영\tSQLEditor <Script-18.sql>'),
 (datetime.datetime(2024, 2, 1, 13, 49, 29),
  'select * from ma_row_datas where player_no = 5601 order by no desc limit 10000\t404\t400\tSuccess\tvpe 운영\tSQLEditor <Script-18.sql>'),
 (datetime.datetime(2024, 2, 1, 13, 49, 43),
  'select * from ma_row_datas where player_no = 5601 order by no desc limit 10000\t1,783\t10000\tSuccess\tvpe 운영\tSQLEditor <Script-18.sql>'),
 (datetime.datetime(2024, 2, 1, 13, 50, 15),
  'select * from ma_row_datas where player_no = 5601 order by no desc\t1,966\t10000\tSuccess\tvpe 운영\tSQLEditor <Script-18.sql>'),
 (datetime.datetime(2024, 2, 1, 13, 50, 20),
  'select * from ma_row_datas where player_no = 5601 order by no desc\t3,260\t20000\tSuccess\tvpe 운영\tSQLEditor <Script-18.sql>'),
 (datetime.datetime(2024, 2, 1, 13, 50, 37),
  'select * from ma_row_datas where player_no = 5601 order by no desc\t4,779\t30000\tSuccess\tvpe 운영\tSQLEditor <Script-18.sql>'),
 (datetime.datetime(2024, 2, 1, 13, 51, 13),
  'select * from ma_row_datas where player_no = 5601 order by no desc\t6,394\t40000\tSuccess\tvpe 운영\tSQLEditor <Script-18.sql>'),
 (datetime.datetime(2024, 2, 1, 14, 3, 25),
  'select * from ma_usage where mbr_no = 2701556\t68\t4\tSuccess\tvpe 운영\tSQLEditor <Script-18.sql>'),
 (datetime.datetime(2024, 2, 1, 14, 7, 25),
  'select * from ma_row_datas where player_no = 5601 order by no desc\t12\t\tERROR: column "no" does not exist'),
 (datetime.datetime(2024, 2, 1, 14, 7, 59),
  'select * from ma_row_datas where player_no = 5601 order by id desc\t16,235\t10000\tSuccess\tvpe 운영 로그\tSQLEditor <Script-12.sql>'),
 (datetime.datetime(2024, 2, 1, 14, 8, 43),
  'select * from ma_row_datas where player_no = 5601 order by id desc\t17,382\t20000\tSuccess\tvpe 운영 로그\tSQLEditor <Script-12.sql>'),
 (datetime.datetime(2024, 2, 1, 14, 9, 35),
  'select * from ma_row_datas where player_no = 5601 order by id desc\t18,704\t30000\tSuccess\tvpe 운영 로그\tSQLEditor <Script-12.sql>'),
 (datetime.datetime(2024, 2, 1, 14, 10, 59),
  'select * from ma_row_datas where player_no = 5601 order by id desc\t20,467\t40000\tSuccess\tvpe 운영 로그\tSQLEditor <Script-12.sql>'),
 (datetime.datetime(2024, 2, 1, 14, 24),
  "select max(id),min(id) from ma_row_datas where player_no = 5601 and log_date between '2024-02-01 00:00:00.000' and '2024-02-01 23:59:59.999'\t2,655\t1\tSuccess\tvpe 운영 로그\tSQLEditor <Script-12.sql>"),
 (datetime.datetime(2024, 2, 1, 14, 24, 50),
  "select * from ma_row_datas where id between 2269851 and 2311435 and log_date >'2024-02-01 00:00:00.000'\t1,901\t10000\tSuccess\tvpe 운영 로그\tSQLEditor <Script-12.sql>"),
 (datetime.datetime(2024, 2, 1, 14, 25, 3),
  "select max(id),min(id) from ma_row_datas where player_no = 5601 and log_date between '2024-02-01 00:00:00.000' and '2024-02-01 23:59:59.999'\t3,105\t1\tSuccess\tvpe 운영 로그\tSQLEditor <Script-12.sql>"),
 (datetime.datetime(2024, 2, 1, 14, 25, 5),
  "select * from ma_row_datas where id between 2269851 and 2311435 and log_date < '2024-02-01 00:00:00.000'\t390\t6\tSuccess\tvpe 운영 로그\tSQLEditor <Script-12.sql>"),
 (datetime.datetime(2024, 2, 1, 14, 25, 49),
  "select min(id),max(id) from ma_row_datas where player_no = 5601 and log_date between '2024-01-31 00:00:00.000' and '2024-01-31 23:59:59.999'\t2,914\t1\tSuccess\tvpe 운영 로그\tSQLEditor <Script-12.sql>"),
 (datetime.datetime(2024, 2, 1, 14, 26, 2),
  "select * from ma_row_datas where id between 2217593 and 2217593 and log_date < '2024-01-31 00:00:00.000'\t73\t\tSuccess\tvpe 운영 로그\tSQLEditor <Script-12.sql>"),
 (datetime.datetime(2024, 2, 1, 14, 26, 17),
  "select min(id),max(id) from ma_row_datas where player_no = 5601 and log_date between '2024-01-31 00:00:00.000' and '2024-01-31 23:59:59.999'\t2,986\t1\tSuccess\tvpe 운영 로그\tSQLEditor <Script-12.sql>"),
 (datetime.datetime(2024, 2, 1, 14, 26, 22),
  "select * from ma_row_datas where id between 2217593 and 2286588 and log_date < '2024-01-31 00:00:00.000'\t428\t4\tSuccess\tvpe 운영 로그\tSQLEditor <Script-12.sql>"),
 (datetime.datetime(2024, 2, 1, 14, 29, 46),
  'select * from ma_row_datas where id between 2251200 and 2251400\t167\t190\tSuccess\tvpe 운영 로그\tSQLEditor <Script-12.sql>'),
 (datetime.datetime(2024, 2, 1, 14, 31, 11),
  'select * from ma_row_datas where id between 2269800 and 2311500\t1,873\t10000\tSuccess\tvpe 운영 로그\tSQLEditor <Script-12.sql>'),
 (datetime.datetime(2024, 2, 1, 14, 31, 40),
  'select * from ma_row_datas where id between 2269800 and 2311500\t3,457\t20000\tSuccess\tvpe 운영 로그\tSQLEditor <Script-12.sql>'),
 (datetime.datetime(2024, 2, 1, 14, 31, 56),
  "select * from ma_row_datas where id between 2269851 and 2311435 and log_date < '2024-02-01 00:00:00.000'\t312\t6\tSuccess\tvpe 운영 로그\tSQLEditor <Script-12.sql>"),
 (datetime.datetime(2024, 2, 1, 14, 32, 16),
  'select * from ma_row_datas where id between 2286500 and 2286600\t142\t96\tSuccess\tvpe 운영 로그\tSQLEditor <Script-12.sql>'),
 (datetime.datetime(2024, 2, 1, 14, 34, 23),
  "select * from ma_row_datas where id between 2217593 and 2286588 and log_date < '2024-01-31 00:00:00.000'\t409\t4\tSuccess\tvpe 운영 로그\tSQLEditor <Script-12.sql>"),
 (datetime.datetime(2024, 2, 1, 14, 34, 34),
  'select * from ma_row_datas where id between 2286500 and 2286600\t143\t96\tSuccess\tvpe 운영 로그\tSQLEditor <Script-12.sql>'),
 (datetime.datetime(2024, 2, 1, 14, 34, 38),
  "select * from ma_row_datas where id between 2269851 and 2311435 and log_date < '2024-02-01 00:00:00.000'\t308\t6\tSuccess\tvpe 운영 로그\tSQLEditor <Script-12.sql>"),
 (datetime.datetime(2024, 2, 1, 14, 40, 1),
  "select * from ma_row_datas where id between 2269851 and 2311435 and log_date < '2024-02-01 00:00:00.000'\t343\t6\tSuccess\tvpe 운영 로그\tSQLEditor <Script-12.sql>"),
 (datetime.datetime(2024, 2, 1, 14, 40, 6),
  'select * from ma_row_datas where id between 2269800 and 2311500\t1,817\t10000\tSuccess\tvpe 운영 로그\tSQLEditor <Script-12.sql>'),
 (datetime.datetime(2024, 2, 1, 14, 52, 36),
  "select * from ma_row_datas where id between 2217593 and 2286588 and log_date < '2024-01-31 00:00:00.000'\t407\t4\tSuccess\tvpe 운영 로그\tSQLEditor <Script-12.sql>"),
 (datetime.datetime(2024, 2, 1, 15, 39, 53),
  'SELECT x.* FROM public.ma_total_data_1d x\t191\t137\tSuccess\tvpe 운영\tMain <vpe_player>'),
 (datetime.datetime(2024, 2, 1, 16, 37, 46),
  'select * from ma_usage where player_no = 5601\t8\t\tERROR: relation "ma_usage" does not exist'),
 (datetime.datetime(2024, 2, 1, 16, 37, 56),
  'select * from ma_usage where player_no = 5601\t104\t4\tSuccess\tvpe 운영\tSQLEditor <Script-18.sql>'),
 (datetime.datetime(2024, 2, 1, 16, 38, 37), 'UPDATE public.ma_usage'),
 (datetime.datetime(2024, 2, 1, 16, 38, 37), 'UPDATE public.ma_usage')]